#home{
    height: 80vh;
}
#navbar{
    display: block;
    width: 100%;
}
#navbar #logo a{
    display: block;
    margin-bottom: 2rem;
    text-align: center;
}
#navbar #menu{
    justify-content: center;
}
#whatWeDo #what_container{
    flex-direction: column;
    text-align: center;
    padding: 0px 10rem;
    margin: 0rem 0rem 4rem 0rem;    
}
#whatWeDo #what_container .weDo{
    margin: 0rem 0rem 2rem 0rem;
}
#whatWeDo .fas{
    margin: 0rem 0rem 1rem 0rem;
}
#aboutUs #img{
    display: none;
}
#aboutUs{
    /* flex-basis: 100%; */
    display: block;
}
#aboutUs #whoWeAre h2{
    margin-bottom: 2rem;
    text-align: center;
}
#aboutUs #whoWeAre{
    width: 100%;
    padding: 3rem;
}
#aboutUs #whoWeAre p{
    margin-bottom: 3rem;
}
#ourClients{
    height: 18rem;
}
#ourClients #img{
    /* justify-content: left; */
    flex-wrap: wrap;
}
#ourClients #img img{
    margin: 1rem;
    width: 5rem;
    height: 5rem;    
}
#contact #map{
    display: none;
}
#contact #contactUs h2,#contact #contactUs p{
    text-align: center;
}
#contact #contactUs{
    width: 100%;
}
#contact #contactUs #form #submit{
    display: block;
    padding: 1rem 0rem;
}















