@import url('https://fonts.googleapis.com/css?family=Roboto');
html{
    font-size: 10px;
}
*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
body{
    font-family: 'Roboto', sans-serif;
    /* line-height: 1.4; */
}
#navbar{
    z-index: 3;
    opacity: 0.9;
    background-color: #333;
    position: sticky;
    top: 0;
    display: flex;
    width: auto;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem;
    flex: 1;
}
p{
    font-size: 2rem;
}
h1,h2,h3,h4,h5{
    font-family: 'roboto balck';
}
.primary_text{
    color: #93cb52;
}
#navbar #logo a{
    outline: none;
    color: white;
    text-decoration: none;
    font-size: 2.2rem;
    font-family: 'roboto black';
}
#navbar #menu{
    width: auto;
    display: flex;
    justify-content: space-between;
}
#navbar #menu li{
    list-style: none;
}
#navbar #menu li a{
    outline: none;
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
    padding: 1.1rem;
    margin-right: 0.5rem;
    border-radius: 0.5rem;
}
#navbar #menu li a:hover{
    background-color: #93cb52;
}
#home{
    background: url('../images/showcase.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    color: white;
}
#home #shade{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0rem 2rem;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.4);
    width: 100%;
    height: 100%;
}
#home a{
    color: white;
    background-color: #93cb52;
    text-decoration: none;
    margin-top: 3rem;
    text-align: center;
    padding: 0.8rem 3.1rem;
    border-radius: 0.5rem;
    font-size: 1.6rem;
}
#home a:hover{
    background-color: #4ca64c;
}
#whatWeDo{
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    min-height: 25rem;
}
#whatWeDo .fas{
    opacity: 0.9;
    background-color: #93cb52;
    padding: 1.4rem;
    border-radius: 50%;
    align-self: center;
    margin-right: 2rem;
}
#whatWeDo h2{
    color: #333;
    text-align: center;
    font-size: 2.8rem;
    margin: 2rem 0rem 3rem 0rem;
}
#whatWeDo #what_container{
    padding: 0rem 15rem;
    padding-bottom: 5rem;
    display: flex;
    flex: 1;
}
#whatWeDo #what_container p{
    line-height: 2rem;
    font-size: 1.5rem;
}
#whatWeDo #what_container h3{
    font-family: 'roboto';
    font-size: 1.6rem;
    font-weight: bold;
    margin-bottom: 1.6rem;
}
#whatWeDo #what_container .weDo{
    margin-right: 4rem;
} 
#aboutUs{
    background-color: #333;
    display: flex;
    /* flex-basis: 50%; */
    min-height: 43rem;
}
#aboutUs #img{
    background: url('../images/people.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 50%;
    height: auto;
}
#aboutUs #whoWeAre{
    color: white;
    padding: 3rem;
    width: 50%;
}
#aboutUs #whoWeAre p{
    font-size: 1.6rem;
    margin-bottom: 2rem;
}
#aboutUs #whoWeAre h4{
    font-family: 'roboto';
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 2rem;
}
#aboutUs #whoWeAre ul li{
    list-style: none;
    line-height: 3.8rem;
    font-size: 1.6rem;
}

#ourClients{
    width: auto;
    height: 27rem;
}
#ourClients h2{
    text-align: center;
    padding-top: 3rem;
}
#ourClients #img{
    display: flex;
    justify-content: center;
}
#ourClients #img img{
    margin: 2rem 4rem;
    width: 12rem;
    height: 12rem;
}
#contact{
    color: white;
    display: flex;
    flex: 1;
    height: 48rem;
}
#contact p{
    font-size: 1.6rem;
    margin-bottom: 1.5rem;
}
#contact #contactUs{
    background-color: #93cb52;
    width: 37%;
    padding: 3rem;
}
#contact #map{
    background-color: #f0f0f0;
    width: 63%;
}
#contact #contactUs #form{
    padding: 0rem 1rem;
}
.lab{
    font-size: 1.6rem;
    display: block;
    margin-bottom: 0.4rem;
}
.inputs{
    outline: none;
    width: 100%;
    padding: 0.7rem 1rem;
    margin-bottom: 1.5rem;
}
#contact #contactUs #form #submit{
    border-style: none;
    color: white;
    background-color: #333;
    display: block;
    text-align: center;
    padding: 1rem 0rem;
    width: 100%;
    /* margin: 0rem -5rem 0rem -1rem; */
    border-radius: 0.5rem;
}
#contact #contactUs #form #submit:hover{
    opacity: .9;
}

#footer p{
    color: white;
    background-color: #333;
    text-align: center;
    padding: 3rem 0rem;
    font-size: 1.5rem;
}
h1{
    margin-bottom: 1.5rem;
    font-family: 'roboto';
    font-weight: bold;
    font-size: 6.5rem;
}
h2{
    margin-bottom: 1rem;
    font-family: 'roboto';
    font-weight: bolder;
    font-size: 3.2rem;
}
